/* ----------------- Keyframes CSS ----------------- */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px)'

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ----------------- Class CSS ----------------- */

.about {
    width: 400px;
    margin: auto;
}

.about-team {
    color: rgb(82, 81, 81)
}

.authors {
    background-color: #494f90;
}

.body {
    background-color: #494f90;
}

.footer {
    background-color: #11124d;
}

.icon-white {
    /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color {
    /* navbar background color */
    background-color: #11124d;
}

.nbMenuItem {
    /* navbar link text properties */
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview {
    background-color: #494f90;
}

.ovPadLeft {
    padding-left: 20px;
}

.ovPadRight {
    padding-right: 20px;
}

.procedure {
    background-color: #494f90;
    padding: 1px;
}

.showcase {
    background-color: #373c76;
    /*#0096c7*/
}

.font-body {
    font-family: Merriweather;
}

.border-row {
    border: 2px solid #313568;
    background: #3b3b6c;
    border-radius: 50px;
    margin: 20px auto;
}

img {
    border-radius: 10%;
}

.card img {
    border-radius: 20px;
}

.nav-item {
    font-family: Merriweather;
    color: #FFFFFF;
}

.table-group-divider,
.table-primary,
.table-secondary {
    border: 0.75px solid #9ea0a1;
}

.table-primary th {
    background-color: #2a2b68;
}

tbody th.table-secondary {
    background-color: #2f3361;
}

tbody td:nth-child(1) {
    background-color: #3b3b6c;
}

tbody td:nth-child(2) {
    background-color: #313568;
}

tbody td:nth-child(3) {
    background-color: #373c76;
}

.card {
    background-color: #313568;
    color: #FFFFFF;
    font-family: Merriweather;
    margin-bottom: 20px;
    border-radius: 20px;
}

.main-container {
    max-width: 75%;
    margin: 0px auto;
}

.rounded-border {
    border-radius: 50px;
}

.section {
    padding: 3rem 0;
    animation: fadeInUp 0.75s ease-in-out;
}

.transition {
    animation: fadeInUp 0.75s ease-in-out;
}

.procedure-img {
    max-width: 10rem;
    height: auto;
}

li {
    font-size: 1.05rem;
}

.img-size-sm {
    max-width: 20rem;
    height: auto;
}

.img-icon {
    max-width: 8rem;
    height: auto;
}

.average-font {
    font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
    .font-response {
        font-size: 2em;
    }

    .procedure-img {
        max-width: 100%;
        height: auto;
    }

    .img-size-sm {
        max-width: 100%;
        height: auto;
    }
}

/* ----------------- ID CSS ----------------- */

#chart-wrapper{
    margin: auto;
    padding: 10px;
    /* If nesting a chart's container within another container, remove the 
       height and width values.  The outer container will control the dimensions */ 
    height: 40vh; 
    width:  80vw;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}